body{
    margin: 0;
    color: white;
    font-family: 'Bebas Neue';
    background: rgb(214, 178, 178);
}

#main-wrapper{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(214, 178, 178);

}

#logoCont{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 20px;
}

#logo{
    width: 100%;
    height: 100%;
    background-image: url("/logoweb2White.png");
    background-size: contain;
    background-repeat: no-repeat;
}


#text-wrapper{
    position: absolute;
    align-self: flex-end;
    right: 20px;
}

.title{
    font-size: 3.5em;
}

.subtitle{
    font-size: 1.5em;
    letter-spacing: 4px;
}

a{
    cursor: pointer;
}

/* MEEEEEEEEEEEEEEEEEEEEEEEEEEEDIA */

/* Portrait */
@media screen and (orientation:portrait) and (max-width: 600px) {
    /* Portrait styles here */
  
    body{
        color: rgb(214, 178, 178);
    }
    
    #main-wrapper{
        display: block;
        height: 100vh;
    }
    #gifWrapper{
        position: absolute;
        height: 100vh;
    }

    #gif{
        height: 100vh;
    }

    #logoCont{
        top: 20px;
        width: 150px;
        height: 150px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
    }
    
    #text-wrapper{
        position: absolute;
        bottom: 10px;
    }

    #logo{
        background-image: url("/rarealogobig.png");
        
    }
}
  
  @media screen and (orientation:portrait) and (max-width: 390px) {
    /* Portrait styles here */
  
    body{
        color: rgb(214, 178, 178);
    }
    
    #main-wrapper{
        display: block;
        height: 100vh;
    }
    #gifWrapper{
        position: absolute;
        height: 100vh;
    }

    #gif{
        height: 100vh;
    }

    #logoCont{
        top: 20px;
        width: 150px;
        height: 150px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
    }
    
    #text-wrapper{
        position: absolute;
        bottom: 10px;
    }

    #logo{
        background-image: url("/rarealogobig.png");
        
    }
}
  
  /* Landscape */
  @media screen and (orientation:landscape) and (max-height: 700px) {
    /* Landscape styles here */
  

  
  }
  
  @media screen and (orientation:landscape) and (max-height: 399px) {
    /* Landscape styles here */
  
  
  
  }