body{
    margin: 0;
    color: white;
    font-family: 'Bebas Neue';
    background: rgb(214, 178, 178);
}

#button{
    position: absolute;
    z-index: 10000;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: white;
    background: rgb(214, 178, 178);
    padding: 20px 50px;
    border: none;
    border-radius: 50px;
    opacity: 0.8;
    top: 53vh;
}

#button:hover{
    border-color: white;
    border-width: 10px;
    opacity: 0.9;
}

.titleOrigens{
    color:rgb(214, 178, 178);
    position: absolute;
    z-index: 1000;
    font-size: 5.5em;
    width: 100vw;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 30vh;
}

@keyframes opacityBlink{
    from {opacity: 0}
    to {opacity: 1};
}

@keyframes toTop {
    from {top: 30vh}
    to {top: 0; margin: 0;}
}

.toTop{
    animation-name: toTop;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.opacityBlink{
    animation-name: opacityBlink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#main-wrapper{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(214, 178, 178);

}

#logoCont{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 20px;
}

#logo{
    width: 100%;
    height: 100%;
    background-image: url("/logoweb2White.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#gif{
    width: 739px;
    height: 415px;
    background-image: url("/Malva-rosa 2.0_VLC360_RareaStudio-high.gif");
    background-size: cover;
}


#text-wrapper{
    position: absolute;
    align-self: flex-end;
    right: 20px;
}

.title{
    font-size: 3.5em;
}

.subtitle{
    font-size: 1.5em;
    letter-spacing: 4px;
}

a{
    cursor: pointer;
}

/* MEEEEEEEEEEEEEEEEEEEEEEEEEEEDIA */

/* Portrait */
@media screen and (orientation:portrait) and (max-width: 600px) {
    /* Portrait styles here */
  
    body{
        color: rgb(206, 142, 142);
    }
    
    .title{
        background: black;
    }

    .subtitle{
        background: black;
    }
    
    #main-wrapper{
        display: block;
        height: 100vh;
        overflow: hidden;
    }
    #gifWrapper{
        position: absolute;
        height: 100vh;
    }

    #gif{
        height: 100vh;
    }

    #logoCont{
        top: 20px;
        width: 150px;
        height: 150px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
    }
    
    #text-wrapper{
        position: absolute;
        bottom: 10vh;
        left: 10px;
    }

    #logo{
        background-image: url("/rarealogobig.png");
        background-position: center;
    }
    
    .titleOrigens{
        top: 10vh;
    }
}
  
  @media screen and (orientation:portrait) and (max-width: 390px) {
    /* Portrait styles here */
  
    body{
        color: rgb(206, 142, 142);
    }

    .title{
        background: black;
    }

    .subtitle{
        background: black;
    }
    
    #main-wrapper{
        display: block;
        height: 100vh;
        overflow: hidden;
    }
    #gifWrapper{
        position: absolute;
        height: 100vh;
    }

    #gif{
        height: 100vh;
    }

    #logoCont{
        top: 20px;
        width: 150px;
        height: 150px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
    }
    
    #text-wrapper{
        position: absolute;
        bottom: 10vh;
        left: 10px;
    }

    #logo{
        background-image: url("/rarealogobig.png");
        
    }

    .titleOrigens{
        top: 10vh;
    }
}
  
  /* Landscape */
  @media screen and (orientation:landscape) and (max-height: 700px) {
    /* Landscape styles here */
  
    body{
        color: rgb(206, 142, 142);
        overflow: hidden;
    }
    
    .title{
        background: black;
    }

    .subtitle{
        background: black;
    }

    #main-wrapper{
        display: block;
        width: 100vw;
        overflow: hidden;
    }
    #gifWrapper{
        position: absolute;
        width: 100vw;
        height: 100vh;
    }

    #gif{
        width: 100vw;
        height: 100vh;
    }

    #logoCont{
        top: 20px;
        width: 50px;
        height: 50px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
    }
    
    #text-wrapper{
        position: absolute;
        bottom: 10vh;
        left: 10px;
    }

    #logo{
        background-image: url("/rarealogobig.png");
        
    }

  
  }
  
  @media screen and (orientation:landscape) and (max-height: 399px) {
    /* Landscape styles here */
  
    
    body{
        color: rgb(206, 142, 142);
        overflow: hidden;
    }

    .title{
        background: black;
    }

    .subtitle{
        background: black;
    }
    
    #main-wrapper{
        display: block;
        width: 100vw;
        overflow: hidden;
    }
    #gifWrapper{
        position: absolute;
        width: 100vw;
        height: 100vh;
    }

    #gif{
        width: 100vw;
        height: 100vh;
    }

    #logoCont{
        top: 20px;
        width: 50px;
        height: 50px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
    }
    
    #text-wrapper{
        position: absolute;
        bottom: 10vh;
        left: 10px;
    }

    #logo{
        background-image: url("/rarealogobig.png");
        
    }
  
  }